<div dir="rtl" class="container">
  <div class="row">
    <div class="card col-md-4 col-md-offset-4">
      <div class="registration_card">
        <div class="card-block">

          <form name="userform" method="post" #formCtrl="ngForm">
            <h3 align="center">הרשמה</h3>

            <div class="form-group">
              <label for="name">שם</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="שם פרטי ומשפחה" [(ngModel)]="user.name"
                required>
            </div>

            <div class="form-group">
              <label for="profileImage">תמונת פרופיל</label>
              <input type='file' (change)="handleFileInput($event.target.files)" id="profileImage" name="profileImage">
            </div>

            <div class="form-group">
              <label for="mail">כתובת דואל</label>
              <input type="email" class="form-control" name="mail" id="mail" placeholder="דואר אלקטרוני" [(ngModel)]="user.mail" required>
            </div>

            <div class="form-group">
              <label for="password">סיסמה</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="סיסמה" [(ngModel)]="password"
                required>
            </div>

            <div class="form-group">
              <label for="city">עיר מגורים</label>
              <input type="text" class="form-control" name="city" id="city" placeholder="לדוגמא ירושלים" [(ngModel)]="user.city" required>
            </div>
            <div class="form-group">
              <label for="birth_date">תאריך לידה</label>
              <input type="date" class="form-control" name="birth_date" id="birth_date" [(ngModel)]="user.birth_date" required>
            </div>

            <div class="form-group">
              <label for="gender">מין</label>
              <select class="form-control" name="gender" id="gender" [(ngModel)]="user.gender" required>
                <option value="" disabled selected>בחר מין</option> 
                <option  value="נקבה">נקבה</option>
                <option  value="זכר">זכר</option>
              </select>
            </div>

            <div class="form-group">
              <button type="buton" class="btn btn-success btn-block" style="margin-bottom: 20px" (click)="signUpWithMail()" [disabled]="formCtrl.form.invalid">
                הרשם
              </button>
            </div>



          </form>
          <div *ngIf="response" class="alert alert-danger" [textContent]="response">
            <strong>Note:</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>