<form *ngIf="!filterByUserId" class="bottom_border" #formCtrl="ngForm">
    <div class="row">
        <div class="form-group col-xs-7 col-sm-7 col-lg-7 rtl">
            <h3 dir="rtl" class="">שלום {{userInfo?.name}}, הוסף סיפור חדש</h3>
            <div class="form-group col-xs-2 col-sm-2 col-lg-2">
                <button type="submit" class="btn btn-primary" [disabled]="formCtrl.form.invalid" (click)="messageMessage(newMessage)">שלח</button>

            </div>
            <div class="form-group col-xs-9 col-sm-9 col-lg-9">
                <textarea dir="rtl" class="form-control" id="content" name="content" [(ngModel)]="newMessage.content" placeholder="{{userInfo?.name}} כתוב כאן את הסיפור שלך"
                    required=""></textarea>

            </div>
            <div *ngIf="userInfo && userInfo.imgPath" class="col-sm-1 col-lg-1 col-xs-1">
                <a [routerLink]="['/profile', getCurrentUserId()]">
                    <img class="message_profile_image" [src]="userInfo.imgPath" alt="">
                </a>
            </div>
        </div>
    </div>
</form>

<div *ngIf="filterByUserId" dir="rtl" class="center">
    <h3>הסיפורים של {{users[filterByUserId]?.name}}</h3>
</div>
<div *ngFor="let key of messageKeys.reverse()">
    <div class="media message_background">
        <div class="row">
            <div class="form-group col-xs-9 col-sm-9 col-lg-9 rtl">

                <div class="form-group col-xs-10 col-sm-10 col-lg-10">
                    <h4 class="media-heading">{{users[messages[key].author_uuid].name}}</h4>
                    <div  [innerText]="messages[key].content"></div>
                    
                    <ul dir="rtl" class="list-unstyled list-inline media-detail">
                        <li>
                            <a class="link" (click)="addApplause(key)">
                                {{getJsonKeys(messages[key].applause).length}}
                                <i class="fa fa-hand-paper-o"></i> מחא כפיים
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i> פורסם {{(messages[key].date) | date:"dd/MM/yyyy HH:mm"}}</li>
                        <li>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            פופולריות {{users[messages[key].author_uuid].viewers}}
                        </li>

                    </ul>
                </div>
                <div *ngIf="userInfo && userInfo.imgPath" class="col-sm-1 col-lg-1 col-xs-1">
                    <a [routerLink]="['/profile', messages[key].author_uuid]">
                        <img class="message_profile_image" [src]="users[messages[key].author_uuid].imgPath" alt="">
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>