
body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
	float: right !important;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:50px;
}

#comments .media {
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:50px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

.media-detail {
	margin-top:30px;
	padding-top:5px;
	border-top:1px solid #DDDDDD;
}

#comments .media-detail li {
	color:rgb(13, 2, 39);
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

.media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}

.message_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 5%;
}

.comment_profile_image {
    width: 40px;
    height: 40px;
    border-radius: 5%;
}
.link {
	cursor: pointer;
}

.rtl {
	float:right !important;
	text-align:right;
}

.rtlText {
	text-align:right;
}

.bottom_border {
	border-bottom:2px solid #DDDDDD;
	padding-bottom:30px;
	margin-bottom: 30px !important;

}
.row {
    margin-left:0 !important;
    margin-right:0 !important;
}