.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    padding-bottom: 5%;
}
.center {
    text-align: center;
}

.profile_details {
    border-left:1px solid #DDDDDD;
    height:100%;
}