<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-lg-9" *ngIf="userUid">
      <app-message></app-message>
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-3 profile_details" *ngIf="userUid">

      <div class="row center">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <h4 [textContent]="userInfo?.name"></h4>
        </div>
      </div>
      <div class="row center">
          <div class="col-xs-12 col-sm-12 col-lg-12">
              <img class="profile_image" id="profileImage" [src]="userInfo?.imgPath" name="profileImage">
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <p name="mail" [textContent]="userInfo?.mail"></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <label for="mail">כתובת דואל</label>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <p name="city" [textContent]="userInfo?.city"></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <label for="city">עיר מגורים</label>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <p name="birth_date" [textContent]="userInfo?.birth_date"></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <label for="birth_date">תאריך לידה</label>
        </div>
      </div>
      <div class="row center">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <p name="gender" [textContent]="userInfo?.gender"></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <label for="gender">מין</label>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <i class="fa fa-eye" aria-hidden="true">
            {{userInfo?.viewers}}
          </i>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
          <label for="viewers">צפיות</label>
        </div>
      </div>
    </div>
  </div>

</div>