<nav dir="rtl" class ="nav-bar navbar-default">
  <div id="navbar" class="navbar-collapse collapse nav_height  navbar-design">
    <ul class="nav navbar-nav navbar-right ">

      <li class="nav_button_height">
        <a [routerLink]="['']"  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">בלוג</a>
      </li>
      <li class="nav_button_height">
        <a [routerLink]="['/profile', getCurrentUserId()]" routerLinkActive="active">
          הפרופיל שלי</a>
      </li>
      <li *ngIf="loggedIn" class="nav_button_height ">
        <a href="" (click)="logout()">התנתק ({{userInfo ? userInfo.name : ""}})</a>
      </li>
      <li *ngIf="!loggedIn" class="nav_button_height">
        <a href="" [routerLink]="['../login']" routerLinkActive="active">התחבר או הרשם</a>
      </li>
    </ul>

  </div>
</nav>