.nav_profile_image {
    width: 60px;
    height: 60px;
    border-radius: 5%;
}

.nav_button_height > a {
    line-height: 60px;
}

.navbar-design > ul > li > a:hover {
    color: #ffffff;
    background-color: #4d0e81;
    font-weight: 400;
}

.navbar-design > ul > li > a {
    color: #ffffffc2;
}


.navbar-design {
    background-color: #1c0430;
}
.active {
    background-color: #4d0e81 !important;
    color: #ffffff !important;
    font-weight: 400;
}